OPENAI_API_KEY = TU API KEY
WEAVIATE_HOST=weaviate
WEAVIATE_PORT=8088
RAG_ADMIN_USER=admin
RAG_ADMIN_PASS=1234
EXCHANGERATE_API_KEY= YOUR EXCHANGE RATE API KEY
EMAIL_FROM=colombiastorecommerce@gmail.com or any email you want to use
EMAIL_SENDER_NAME="Invoice Assistant"
EMAIL_PASSWORD=you app password here
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_USE_TLS=true